<!--本の詳細-->
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      
      <!--ユーザー情報（部分テンプレート）-->
      <%= render "users/userinfo",user:@user %>
      
      <!--ユーザー情報（部分テンプレート）-->
      <%= render "books/booksubmit",book:@book_new %>
      
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        
        <!--実データ-->
        <table class="table">
            <tbody>
              <tr>
                <td>
                    <%= link_to user_path(@book.user.id) do %>
                    <%= image_tag @user.profile_image, size: '100x100' if @user.profile_image.attached? %>
                    <%= @book.user.name %>
                    <% end %>
                </td>
                <td>
                  <%= link_to @book.title, book_path(@book.id) %>
                </td>
                <td>
                  <%= @book.body %>
                </td>
                <!--編集(edit)-->
                <td>
                  <% if @book.user == current_user %>
                    <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-sm btn-success' %>
                  <% end %>
                </td>
                <!--削除(destroy)-->
                <td>
                  <% if @book.user == current_user %>
                    <%= link_to "Destroy", book_path(@book.id), method: :delete, data: {confirm: "本当に消しますか？"}, class: 'btn btn-sm btn-danger' %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    
  </div>
</div>